html {
    height: 100%;
}

.containers {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.logo img {
    width: 50px;
}

.center-content {
    display: flex;
    height: 100%;
}

.page-content {
    background-color: #f3f3f3;
    width: 100%;
    padding:4rem;
}

/*Buttons */
.options{
    display:flex;
    justify-content: end;
    gap: 3rem;
    padding:0  0 2rem 0 ;
}

.options input {
    padding:0.8rem;
    width: 6rem;
}
.options select {
    padding:0.8rem;
    width: 6rem;
    background-color: #EFEFEF;
}


/* List Of Users Table*/
thead tr {
    cursor: pointer;
}


/* Add User Form */
